@{
    ViewData["Title"] = "Home Page";
}
<h1 style="font-weight:bold;text-align:justify;margin-left:25%">Meu nome é Carlos Eduardo, tenho 20 anos</h1>
<p style="font-weight:bold;text-align:justify;margin-left:25%">Primeiramente gostaria de agradecer pela oportunidade e dizer que almejo uma vaga em sua empresa a algum tempo...</p>
<p style="font-weight:bold;text-align:justify;margin-left:25%">O desafio foi meio complicado, e revi muita coisa de última hora, espero que a solução esteja de acordo com o necessário</p>
<p style="font-weight:bold;text-align:justify;margin-left:25%">Um ótimo dia e até a próxima! :)</p>
